name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

permissions: write-all

jobs:
  get-quotes:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5

      - name: Build
        run: go build -o portfolio-performance .

      - name: Run quotes getter
        run: ./portfolio-performance
