name: Fmt

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5

      - name: Build
        run: go build -o securities-fmt ./cmd/securities-fmt

      - name: Check securities.csv format
        run: |
          ./securities-fmt -w
          git diff --exit-code securities.csv
