name: Fmt

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["main"]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5

      - name: Build
        run: go build -o securities-fmt ./cmd/securities-fmt

      - name: Check securities.csv format
        run: ./securities-fmt --check
