name: Get quotes

on:
  workflow_dispatch:
  schedule:
    - cron: "0 20 * * *"

permissions: write-all

jobs:
  get-quotes:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4

      - name: Run quotes getter
        run: |
          go run ./...
          
          if [ -z $(git status --porcelain) ];
          then
              echo "no changes to commit"
              exit 0
          fi

          git config --global user.name 'GitHub Actions'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git commit -am "Automated report"
          git push
